:root {
    --primary: #4a5a6a;
    --secondary: #6e7f91;
    --thirdary: #9da9b5;
    --accent: #bfa88c;
    --accent-dark: #725d40;
    --text: #090a11;
    --background: #fffcfa;
    --background-dark: #ffffff;
    --border: #ecf0f1;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --light: #f8f9fa;
}

@media(prefers-color-scheme: dark) {
    :root {
        --primary: #96a6b6;
        --secondary: #6e7f91;
        --thirdary: #4b5763;
        --accent: #bfa88c;
        --accent-dark: #725d40;
        --text: #f2e9de;
        --background: #18120c;
        --background-dark: #1a252f;
        --border: #34495e; 
        --shadow-color: rgba(255, 255, 255, 0.5);
        --light: #f8f9fa;
    }
}

:root[data-theme='dark'] {
    --primary: #96a6b6;
    --secondary: #6e7f91;
    --thirdary: #4b5763;
    --accent: #bfa88c;
    --accent-dark: #725d40;
    --text: #f2e9de;
    --background: #18120c;
    --background-dark: #1a252f;
    --border: #34495e; 
    --shadow-color: rgba(255, 255, 255, 0.5);
    --light: #f8f9fa;
}

:root[data-theme='light'] {
    --primary: #4a5a6a;
    --secondary: #6e7f91;
    --thirdary: #9da9b5;
    --accent: #bfa88c;
    --accent-dark: #725d40;
    --text: #090a11;
    --background: #fffcfa;
    --background-dark: #ffffff;
    --border: #ecf0f1;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --light: #f8f9fa;
}